$color-primary: #f49818;  //rgb(244, 152, 24)
$color-primary-light:#ffb900;

$color-secondary:#51b8e3;
$color-secondary-light: #2998ff; //rgb(41, 152, 255)

$color-black:#233141;
$color-black-1:#2b2c30;
$font-stack: 'Roboto', sans-serif;

$default-font-size: 1.6rem;

$color-gray-light-1:#f1f3f6;
$color-gray-light-2:#888;
$color-gray-light-3:#ccc;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$gray:#eee;

$color-white:#fff;



////FONTS
