

@media (max-width: 480px) {
    .text_main{
        font-size: 30px;
    }
    .text_secondary > a{
        font-size: 16px;
    }
    .Hslash{
        font-size: 16px;
    }
    .atext{
        line-height: 15rem;
    }
    .about_head{
        height: 15rem;
    }
}
