@media (min-width: 1281px) {}
@media (min-width: 1025px) and (max-width: 1280px) {
    ///footer///
    #footer-widgets .widget .textwidget .brand-wrap > .brand-text {
        margin: 14px 0px 14px 4px;
    }
}
@media (min-width: 992px) and (max-width: 1024px) {
    ////////  home page > header ///////////
    //_______________________________________ navbar
    .navbar-default .navbar-nav > li > a{
        padding: 15px;
    }
    ///footer///
    #footer-widgets .widget .textwidget .brand-wrap > .brand-text {
        margin: 14px 0px 14px 4px;
    }


}
@media (min-width: 768px) and  (max-width: 992px) {
    ////////  home page > header ///////////
    .banner-text h1{font-size: 50px;}
    .banner-text h3{font-size: 18px;}
    .text-warpper .btn.btn-lg.btn-primary{font-size: 15px;}
//    -------------home > about us
    #id-about .section-heading h2{margin-top: 0;}
    .highlight h4 {font-size: 23px;}
    .navbar.navbar-default .brand-wrap .brand-text {display: none;}
//    -----------footer
    #id-footer .textwidget{display: flex;flex-direction: column;}
}
//----------------------general
@media (max-width: 992px){
//    -------our people is our asset
    .asset .carousel-control.right {right: 20px;}
    .asset .carousel-control.left {left: 20px;}
}
//@media (min-width: 481px) and (max-width: 767px) {
@media (max-width: 767px) {
//--------navbar
    .navbar-default .navbar-brand {padding: 15px 0 15px 15px;}
    .navbar-default .navbar-toggle,
    .navbar-default .navbar-toggle:focus,  .navbar-default .navbar-toggle:visited, .navbar-default .navbar-toggle:hover{background-color: transparent;margin-top: 15px; color: #fff;}
//--------header

    .section-heading h2 {font-size: 35px;}
    .banner-text h1{font-size: 40px;}
    .banner-text h3{font-size: 15px;}
    .text-warpper .btn.btn-lg.btn-primary{font-size: 14px;}
//------ home> about
    .section-heading h2 {margin-bottom: 40px;}
    .section-heading h2:after{margin-bottom: 30px;}
    #id-about a.btn-lg{font-size: 15px;}
    #id-footer .textwidget{display: flex;flex-direction: column;}

}

@media (max-width: 480px) {
    //_______________________________________ navbar
        #id-about .imgs{display: none;}

    .col-w-100{width: 100%;}
    #id-services .services-media-list.text-left{padding: 60px 20px;}
    .services-media-list h2{font-size: 30px;margin-bottom: 5px;}
    .Why-us > li > i {padding-right: 10px;}
    ul.Why-us li{padding-bottom: 10px;}
    .Why-us{    font-size: 15px;}

    /////////////asset
    .asset .carousel-inner .carousel-content p{
        font-size: 13px;

    }
    .asset_mainhead{font-size: 40px;}
    .asset_subhead{font-size: 15px;}
    .text-center-xs {
        text-align: center!important;
    }
    .highlight.blue .text-right.col-w-100.text-center-xs{
        padding-top: 20px;
    }
}

@media (max-width: 389px) {
    .navbar-default.floating-menu .navbar-brand {
        padding: 10px;
    }
    .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:visited, .navbar-default .navbar-toggle:hover{
        margin-top: 15px;
    }
    .brand-wrap .brand-text{
        margin-left: 3px;
        & span{
        font-size: 11px;
        }
        & strong{
        font-size: 18px;

        }
    }
    .brand-wrap .brand-text{
            margin-top: 5px;
    }
}
