.about_head {
    height: 20rem;
    margin-top: 71px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 0;
    left: 0;
}

.contactus {
    background-image: linear-gradient(120deg, rgba(51, 51, 51, 0.8) 5%, rgba(0, 0, 0, 0.4) 95%), url(../images/projects/ContactUs.jpeg);
}

.aboutus {
    background-image: linear-gradient(120deg, rgba(51, 51, 51, 0.8) 5%, rgba(0, 0, 0, 0.4) 95%), url(../images/AboutUs.jpeg);
}

//////////////////////////////////
figure.snip1477 {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    height: 250px;

    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: #000000;
}

figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
}

figure.snip1477 img {
    max-width: auto;
    height: 250px;
    backface-visibility: hidden;
    vertical-align: top;
    opacity: 0.9;
    transition: all 1s ease;

}

figure.snip1477 .title {
    position: absolute;
    top: 58%;
    left: 25px;
    padding: 10px;
}

figure.snip1477 .title:before,
figure.snip1477 .title:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

figure.snip1477 .title:before {
    top: 0;
    left: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

figure.snip1477 .title:after {
    bottom: 0;
    right: 10px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

figure.snip1477 .title div:before {
    top: 10px;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

figure.snip1477 .title div:after {
    bottom: 10px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

figure.snip1477 h2,
figure.snip1477 h4 {
    margin: 0;
    text-transform: uppercase;
}

figure.snip1477 h2 {
    font-weight: 400;
}

figure.snip1477 h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
}

figure.snip1477 figcaption {
    position: absolute;
    bottom: 42%;
    left: 25px;
    text-align: left;
    opacity: 0;
    padding: 5px 0px 5px 10px;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1.5px;
}

figure.snip1477 figcaption p {
    color: #fff;
    margin: 0;
}

figure.snip1477 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

figure.snip1477:hover img,
figure.snip1477.hover img {
    zoom: 1;
    filter: alpha(opacity=35);
    -webkit-opacity: 0.35;
    opacity: 0.35;
}


figure.snip1477:hover img {
    transform: scale(1.1);

}


figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


.contact-place {
    & table td {
        vertical-align: top;
    }

    padding: 9rem 0;
    & .contact-box {

        &__location {}
    }
}

////////////////////////////////////
//----------------------------------
.contact-section {
    & .contact-box {
        margin: 0 0 9rem 0;
        & > h2 {
            font-weight: 600;
            color: #000;
            font-size: 4rem;

        }
        & .form {

            &-heading {
                padding: 0 15px;
            }
            &-text {
                padding: 0 15px;
                font-size: 1.6rem;
            }
            & input,
            textarea {
                display: block;
                border: 1px solid $color-gray-light-2;
                border-radius: 0px;
                margin-bottom: 2rem;
                padding: 2rem;
                width: 100%;
            }
            & input:focus,
            textarea:focus {
                border: 1px solid $color-primary;
                outline: none;
            }
            & .btn.btn-primary {
                padding: 1.5rem 2rem;
            }
            & .submit {
                padding: 0 0 0 15px;
            }
            & .Contact-Us {
                padding: 3rem 0;
            }
        }
        & #map {
            position: relative;
            top: 20px;
            height: 455px;
            width: auto;
        }
    }
}

////////////////////////////new page contactus
.contact {
    &__location {
        background: #ffffff none repeat scroll 0 0;
        bottom: 30px;
        left: 36px;
        min-width: 420px;
            padding: 15px 22px 0;
        position: absolute;
        top: 30px;
        z-index: 9;
        & .location__box {

            border-bottom: 1px solid #dedede;
            margin: 0 0 15px;
            padding: 0 0 15px 55px;
            position: relative;
            & .icon {
                color: #00a0b8;
                font-size: 30px;
                font-weight: 300;
                left: 0;
                line-height: 30px;
                position: absolute;
                text-align: center;
                top: 5px;
                width: 58px;
            }
            & ul {
                & li {
                    display: flex;
                    line-height: 13px;

                    & p {
                        color: black;

                    }
                    & span {
                        font-weight: 700;
                    }
                }
            }

        }

    }
    &__map {
        position: relative;
        z-index: 1;
        & #map {
            height: 590px;
            width: 100%;
        }
    }
}

.mapinfo-social {
    list-style: outside none none;
    padding: 0;
    & li {
        display: inline-block;
        margin-right: 20px;
    }
}
.mapinfo-social li a {
    background: #242424 none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    display: block;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.mapinfo-social li.facebook a {
    background: #4065ae none repeat scroll 0 0;
}

.mapinfo-social li.twitter a {
    background: #009eee none repeat scroll 0 0;
}
.mapinfo-social li.google a {
    background: #e64d3f none repeat scroll 0 0;
}
.mapinfo-social li.linkedin a {
    background: #0075b2 none repeat scroll 0 0;
}
.mapinfo-social li.instagram a {
    background: #c80f4b none repeat scroll 0 0;
}
.contact-box>img {margin: 105px 0px 0px 120px;height: 350px;}
