//---------------------------------pages_banner
.frame-slider > h2 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;

}

.pages_banner {
    position: relative;
    & > img {
        max-width: 85%;
    }
    & #carousel-example-generic {
        position: absolute;
        top: 8%;
        left: 0;
        width: 30.6%;
        left: 34.6%;
        background: #000000;
        bottom: 21%;
    }
}

//----------------------------------text courasol-with image
.s-content {
    background-image: url('../images/services.jpeg');

    &_main {}
    & .fa.fa-quote-right {
        position: absolute;
        font-size: 30px;
    }
    & .carousel-indicators {
        bottom: -60px;

    }
    &_slider {
        height: 450PX;
        background: rgba($color-secondary-light, 0.8);
        padding: 100px 0;
        padding: 100px 130px;
        & blockqoute p,
        footer {
            color: #fff;
        }
        & blockqoute h3 {
            color: #fff;
            font-weight: 800;
            font-size: 24px;
        }
    }
}


//------------------------------------blockqoute-courasol
.blockqoute-courasol {
    & img {
        width: 150px;
        height: 150px;
    }
}

//------------------------------------paralex page
.image-item1 {
    position: relative;
    height: 100vh;
    width: 100%; //border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-abs {
    //    position: absolute;
    //    top: 0px;
    //    left: 0;
    //        padding-left: 16%;
    position: absolute;
    top: -45px;
    left: 179px;
    padding-left: 16%; //    height: 100%;
    //    width: 100%;
    //    opacity: 0;
}

.paralex {
    overflow: hidden;
}

.s-paralex {

    &__description {
        margin: 0px;
        & > h3 {
            font-size: 40px;
            font-weight: 600;
            color: $color-secondary-light;
            &::before {
                content: '';
                position: absolute;
                width: 50px;
                height: 6px;
                top: 177px;
                left: 19px;
                border-radius: 10px;
                background: $color-secondary-light;
            }
        }
        & p.main-p {
            margin: 60px 0 10px 0;
            color: $color-black;
            font-size: 15px;
        }
    }
    & ul {
        & li {
            @include flexbox;
            margin: 10px 0;
            & i {
                color: $color-secondary-light;
                margin: 4px 10px 0 0;
            }
            & p {}
        }
    }
    &__images {
        position: relative;

        & .image-item-1 {
            z-index: 99;
            left: -50px;
            top: 120px;
        }
        & .image-item-2 {
            z-index: 100;
            left: 49px;
            top: -15px;
        }
        & .image-item-3 {
            z-index: 98;
            left: 299px;
            top: 80px;
        }
        & .image-item-4 {
            z-index: 98;
            left: 305px;
            top: 8px;
        }
        & .image-item-5 {
            z-index: 89;
            left: -4px;
            top: -30px;
        }
        & .image-item-6 {
            top: 44px;
            left: 131px;
            z-index: 103;
        }
    }

}

//---------------------------------service-icon------------------------------
.service-icon {
    @include flexbox;
    height: 100px;
    @include justify-content(space-between);

    @include align-items(center);
    text-align: center;

    &-item {
        @include flexbox();

        & i {
            padding: 0 20px 0 0;
            font-size: 35px;
            line-height: 100px;
            color: $color-white;
        }
        & p {
            line-height: 100px;
            color: $color-white;
            font-weight: 600;
            font-size: 20px;
        }
    }
}

//----------------------------------------feature section end--------------------------
.success {
    &__heading {
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 5px;
        margin: 20px 0px 100px;
        position: relative;
        & span {
            font-weight: 600;
            color: $color-secondary-light;
        }
        &::before {
            content: ' ';
            height: 6px;
            width: 50px;
            background: #2998ff;
            position: absolute;
            bottom: -45px;
            left: 1px;
        }
    }

    & > p {
        line-height: 30px;
        letter-spacing: 1px;
    }
    &__box {

        & i {
            margin-top: 20px;
            font-size: 30px;
            color: $color-secondary-light;
        }

        &-text {
            &-heading {
                font-weight: 600;
            }
        }
    }
}


//----------------------------------------feature section end--------------------------
.cover-section {
    & img.cover-img {
        margin: 0 auto;
    }
}

//---------------carousel
.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-inner {
    width: 100%;

    max-height: 400x !important;
}

.item {
    text-align: center;
}

.carousel-inner img {
    display: inline-block !important;
}

//-----------------
.detail {
    margin-right: 85px;
    &__text {
        &-small {
            font-size: 14px !important;
            color: $color-secondary-light !important;
            font-weight: 300;
        }
        &-large {
            &::after {
                content: '';
                display: block;
                width: 15px;
                border-bottom: 3px solid $color-secondary-light;
                margin: 32px 0 30px 0;
            }
        }
        &-paragraph {}
    }
    &__list {
        margin-top: 15px;
        color: $color-gray-light-2;
        &-item {
            margin-bottom: 15px;
            & > i {
                margin-right: 10px;
                font-weight: 300;
                color: $color-secondary-light;
            }
        }
    }
}

//-----------------------------all services
.tech-heading {
    margin: 0 0 30px 20px;
    color: $color-secondary-light;
    &::after {
        background-color: violet;
        position: absolute;
        content: ' ';
        top: -3px;
        z-index: 1000;
        border-radius: 3px;
        left: 0;
        width: 3px;
        height: 30px;
    }
}

//----------our services
.our-services {
    //    overflow: hidden;
    z-index: 1000;
    transition: all .3s ease-out;


    &__img {

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 5px;
        transition: all .3s ease-out;
        &-1 {
            background-image: url('../images/write-593333_1920.jpg');
        }
        &-2 {
            background-image: url('../images/services.jpeg');
        }
        &-3 {
            background-image: url('../images/services2.jpeg');
        }
        &-4 {
            background-image: url('../images/cover.jpg');
        }
        &:hover {
            transform: scale(1.1);
            border-radius: 5px;
        }

    }
    & .texxt {}
    & h3 {
        position: absolute;
        top: 270px;
        z-index: 999;
        left: 8%;
        transition: all .3s ease-out;
        transition-delay: 0.4s;
        font-weight: 300;
        letter-spacing: 0px;
        color: #fff;
        font-size: 24px;
        transition: all .3s ease-out;
    }
    //    &:hover h3 {
    //        transform: translateY(-150px);
    //
    //    }
    //        &:hover p {
    //        transform: translateY(-150px);
    //        opacity: 1;
    //    }
    //    & p{
    //        opacity: 0;
    //         transform: translateY(150px);
    //    }
}

.light-blue-overlay {
    position: relative;
    content: '';
    height: 350px;
    top: 0;
    border-radius: 5px;
    left: 0;
    background: linear-gradient(to bottom, rgba($color-secondary-light, 0), rgba($color-secondary-light, 1));
    z-index: 2;
}
